
#grad {
  background-image: linear-gradient(#3811B3, #02106D);
  background-size: 120%;
}

.title {
    font-size: 35px;
    font-family: 'Karla', Times;
    text-align: left;
    margin-top: 40px;
    margin-left: 50px;
    display: inline-block;
    color: white;
  }
  
.link {
    font-size: 20px;
    font-family: 'Karla', Times;
    text-align: right;
    margin-left: 550px;
    display: inline-block;
    /*text-decoration: underline;*/
}

a:link {
  color: white;
}

a:hover {
  color: #C8CAFF;
  padding-block-end: 50px;
}

#topbox {
  background-color: black;
  height: 130px;
}

.bodycontent {
  color: white;
  padding-left: 50px;
  font-family: 'Karla', sans-serif;
  display: block;
  width: 700px;
  padding-bottom: 100px;
}

  .bodytitle {
    color: white;
    padding-top: 70px;
    font-size: 25px;
    font-weight: bold;
    display: block;
  }

  .bodytext {
    color: white;
    padding-top: 20px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    display: block;
  }